include _partial/helpers.pug

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang=config.language)

  include _partial/head.pug

  body: .body_container
    #header
      .site-name
        a#logo(href=url_for('.'))= config.title
        .lang-select-wrapper
          i.fas.fa-globe
          select#lang-select(onchange='switchLanguage(this.value)')
            option(value='zh-CN' selected=page.lang === 'zh-CN') 中文
            option(value='en' selected=page.lang === 'en') English
        p.description= page.lang == 'en' ? config.subtitle_en : config.subtitle

      #nav-menu
        - for (var i in theme.menu)
          - if (theme.menu[i].lang && theme.menu[i].lang.includes(page.lang))
            +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)

    #layout.pure-g
      .pure-u-1.pure-u-md-3-4: .content_container
        block content
      if theme.widgets_on_small_screens
        .pure-u-1.pure-u-md-1-4: #sidebar
          each item in theme.widgets
            != partial('_widget/' + item + '.pug')
      else
        .pure-u-1-4.hidden_mid_and_down: #sidebar
          each item in theme.widgets
            != partial('_widget/' + item + '.pug')
      .pure-u-1.pure-u-md-3-4
        != partial('_partial/footer.pug')
        
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/donate.css')
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/copyright.css')
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/advertisements.css')
    include _partial/totop.pug
    include _partial/after_footer.pug
