.post-donate
    #donate_board.donate_bar.center
        a#btn_donate.btn_donate(href='javascript:;', title=__('donate'))
        .donate_txt
         |  &uarr;
         br
         != __('donate_message')
         br
    #donate_guide.donate_bar.center.hidden
        img(src=theme.donate.wechat, title=__('donate_wechat'))
        img(src=theme.donate.alipay, title=__('donate_alipay'))
    script(type='text/javascript').
        document.getElementById('btn_donate').onclick = function(){
            $('#donate_board').addClass('hidden');
            $('#donate_guide').removeClass('hidden');
        }
